body {
  margin: 0;
  font-family: "Almarai", sans-serif;
}

.font {
  font-family: 'Almarai', sans-serif;
  background-color: #f9f9f9;
}

.page-link {
  background-color: #f9f9f9 !important;
  color: #272727 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}
.page-link:hover {
  background-color: #272727 !important;
  color: white !important;
  border: solid 1px 272727 !important;
}


